@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');


/*----style navbar ----*/

.nav-wrapper {
    background-color: #555555;
    font-family: 'Prata', sans-serif;
    
}

/*--------card--------*/

.card-content, .card-action a {
    font-family: 'Prata', sans-serif;
}

/*-------headings-----*/

.headings {
    font-family: 'Prata', sans-serif;
}

.row a {
     font-family: 'Prata', sans-serif;
     color: orange;
}

.form {
    font-family: 'Prata', sans-serif;
}

.label {
    font-family: 'Prata', sans-serif;
}

.input{
    font-family: 'Prata', sans-serif;
}

.area {
    font-family: 'Prata', sans-serif;
}

.option1 {
    color: orange;
}