@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');


/*----style navbar ----*/

.nav-wrapper {
    background-color: #555555;
    font-family: 'Prata', sans-serif;
    
}

/*--------card--------*/

.card-content, .card-action a {
    font-family: 'Prata', sans-serif;
}

/*-------headings-----*/

.headings {
    font-family: 'Prata', sans-serif;
}

/*-----form------*/

.form {
    font-family: 'Prata', sans-serif;
}

.form a {
    color: white;
    background-color: orange;
}

/*-----footer------*/

#page-footer {
     background-color: #555555;
     font-family: 'Prata', sans-serif;

}