@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');


/*----style navbar ----*/

.nav-wrapper {
    background-color: #555555;
    font-family: 'Prata', sans-serif;
    
}


/*-----footer------*/

#footer {
    background-color: #555555;
    font-family: 'Prata', sans-serif;
    padding: 10em;
}

#footer a {
    margin: 0px 15px;
    color: orange;
}

#footer hr {
    width: 50%;
    border-top: 1px solid #ffffff;
}