<!DOCTYPE html>
<html lang="en">

<head>
   
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}" type="text/css"/>
   <link rel="stylesheet" href="{{url_for('static', filename='css/books.css')}}" type="text/css"/>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-wrapper">
                <a href="{{url_for('get_books')}}" class="brand-logo">Book Store</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if session.username %}
                    <li><a href="{{url_for('get_books')}}">Home</a></li>
                    <li><a href="{{url_for('add_book')}}">Add Book</a></li>
                    <li><a href="{{url_for('get_categories')}}">Genres</a></li>
                     <li><a href="{{url_for('logout')}}">Logout</a></li>
                     {% else %}
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul>
                {% endif %}
                <ul class="side-nav" id="mobile-demo">
                    {% if session.username %}
                    <li><a href="{{url_for('get_books')}}">Home</a></li>
                    <li><a href="{{url_for('add_book')}}">Add Book</a></li>
                    <li><a href="{{url_for('get_categories')}}">Genres</a></li>
                     <li><a href="{{url_for('logout')}}">Logout</a></li>
                     {% else %}
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul>
            </div>
                {% endif %}
            
        </nav>
        
    </header>
  
	
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

<script src="https://kit.fontawesome.com/b6aa2fb26d.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
      $('select').material_select();
      $(".button-collapse").sideNav();
        });

</script>

{% if session.username %}
<footer id="footer">
			<div class="row pt-5">
				<div class="col-12 center-align footer-links">
					<a href="https://twitter.com/" target="_blank" class="rounded-circle">
						<i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
					</a>
					<a href="https://www.facebook.com/" target="_blank">
						<i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i>
					</a>
					<a href="https://www.linkedin.com/" target="_blank">
						<i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/" target="_blank">
						<i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
					</a>
					<a href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155" target="_blank">
						<i class="fas fa-store fa-2x" aria-hidden="true"></i>
					</a>
				</div>
			</div>		
			<div class="center-align">
				<hr>
				<div class="col-12">
					<a href="https://www.linkedin.com/in/tania-hodnett-387340184/" target="_blank">
						CREATED BY TANIA HODNETT
					</a>
				</div>
			</div>
			<br>
		</footer>
        
{% endif %}
</body>
</html>