<!DOCTYPE html>
<html lang="en">

<head>
   
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-wrapper">
                <a href="{{url_for('get_books')}}" class="brand-logo">Book Store</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_books')}}">Home</a></li>
                    <li><a href="{{url_for('add_book')}}">Add Book</a></li>
                    <li><a href="{{url_for('get_categories')}}">Genres</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_books')}}">Home</a></li>
                    <li><a href="{{url_for('add_book')}}">Add Book</a></li>
                    <li><a href="{{url_for('get_categories')}}">Genres</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
      $('select').material_select();
      $(".button-collapse").sideNav();
        });

</script>

<footer class="page-footer">
          <div class="container">
            <div class="row-foot">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Purchase all your favourite books through my link please!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Affiliate Link</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Snapchat</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>
</body>
</html>