{% extends 'base.html' %} {% block content %}

<div class="row">
<h3>Genre</h3>


<div class="row">
  {% for category in categories %}
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{category.category_name}}</span>
    </div>
    <div class="card-action col-sm4">
      <a href="" class="waves-effect waves-light btn btn_small">Delete</a>
      <a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
      </div>
  </div>
  {% endfor %}
</div>
</div>
    
{% endblock %}